{% extends "template.twig" %}

{% block title %}
About Us Page
{% endblock %}

{% block main %}
<section  id="page" class="about">
  <h1>A propos d'Enigma</h1>
  <article class="about-page">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ad dignissimos aut consequatur aperiam illum iste hic, asperiores tempore porro tenetur amet ab repellat in inventore a mollitia fuga quas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus architecto ea soluta, quam illo error non ut maxime molestiae rerum consequatur blanditiis laborum a nobis ipsa ducimus, nisi sed ad.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore error cupiditate amet fuga saepe reiciendis perferendis nisi a laudantium totam maxime, blanditiis voluptas recusandae corporis qui repellat! Vero, deserunt, nisi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis impedit, dolores officia, enim suscipit rerum, nesciunt consectetur quaerat ullam cum aliquid nostrum a minus illum ad! Illum alias, aliquid debitis.</p>
  </article>
</section>
{% endblock %}

{% block script_js %}
{% endblock %}
